@import "tailwindcss";

.hero {
  background-image: url('../src/assets/images/water.jpg');
  background-size: cover;
  background-position: center;
}

body {
  background-color: #F3F6F4;
}

h1, h2, p, button, ul, li {
  color: #2E2E2E;
}

.cta {
  background-color: #00C896;
  /* background-color: #ffa726; */
}