@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@supports (-webkit-touch-callout: none) {
  .fastinghero {
    background-attachment: scroll !important; /* disable fixed */
    background-size: cover;
    background-position: center;
  }
  .benefitshero {
    background-attachment: scroll !important; /* disable fixed */
    background-size: cover;
    background-position: center;
  }
}
.opague {
  background-color: rgba(0, 0, 0, 0.80);
}
.fastinghero {
  background-image: url('../src/assets/images/treadmill.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* keep for desktop */
}
.benefitshero {
  background-image: url('../src/assets/images/joggers.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* keep for desktop */
}
.hero {
  background-image: url('../src/assets/images/hero-img.png');
  background-size: cover;
  background-position: center;
}
.newred {
  color: #c1272d;
}

.darkgradient {
  background: linear-gradient(to bottom, #155018 0%, #1d1d1d 16%, #1d1d1d 100%);


}
#white {
  color: white;
}
body {
  background-color: #F3F6F4;
}
.bg-body, .benefit {
  background-color: #F3F6F4;
}
h1, h2, h3  {
  font-family: "neue-haas-grotesk-display", sans-serif;
  color: #1a1a1a;
}
p {
  font-family: 'Poppins', sans-serif;
}
.poppins {
  font-family: 'Poppins', sans-serif;
}
.cta {
  background-color: #00C896;
  /* background-color: #ffa726; */
}
.cta-dark {
  background-color: #c1272d;
}
.border-green {
  border: 2px solid #2E7D32;
}

#white {
  color: white;
}

strong {
  color: #c1272d;
}